
.autocomplete-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  z-index: 1000;
}

.autocomplete-container {
    position: relative;
}

html,
body,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
}
